__pycache__/
*.pyc
toy_model_outputs/
gate1_outputs_run.log
*_run.log
gate1b_run.log
gate1c_run.log
gate1d_run.log
gate1d_run5.log
gate2_run.log
gate2_k8_run.log
gate2_k8_diag.log
gate2_k8_run2.log
gate3_run.log
gate3_pathc.log
